@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<nav id="sidebar" data-toggle="@NavMenuState.Value.DrawerOpen.ToString()">
    <ul>

        <li>
            <NavLink class="nav-links" href="/" Match="@NavLinkMatch.All">
                <i class="fa-solid fa-house"></i>Home
            </NavLink>
        </li>

        <li>
            <NavLink class="nav-links" href="/verifyauth">
                <i class="fa-solid fa-cloud-question"></i>Verify
            </NavLink>
        </li>

        <li>
            <a class="nav-links" @onclick="ToggleDropdown">
                <i class="fa-solid fa-users"></i>
                Characters <span class="fa-solid fa-caret-down" data-rotate="@_dropdownActive.ToString()"></span>
            </a>
            <ul class="submenu" aria-expanded="@_dropdownActive.ToString()">

                @if (CharacterState.Value.IsLoading)
                {
                    <li>
                        <NavLink class="nav-links">
                            <i class="fa-solid fa-spinner-third fa-spin"></i>Loading...
                        </NavLink>
                    </li>
                }
                else if (CharacterState.Value.Characters.Any())
                {
                    @foreach (var character in CharacterState.Value.Characters)
                    {
                        <li>
                            <NavLink class="nav-links" @onclick="@(() => LoadCharacter(character.Id))">
                                <i class="fa-regular fa-user"></i>@character.Name
                            </NavLink>
                        </li>
                    }
                }

                <li>
                    <NavLink class="nav-links" @onclick="CreateCharacter">
                        <i class="fa-solid fa-plus"></i>Create Character
                    </NavLink>
                </li>
            </ul>

        </li>

        <li>
            <NavLink class="nav-links" href="#">
                <i class="fa-solid fa-gear"></i>Settings
            </NavLink>
        </li>

    </ul>
</nav>