<div class="floating-input input-select @(ShortWidth ? "input-small" : "")">
    <label>
        <input value="@Value" placeholder="@Label" readonly
            @onfocusin="() => SetDropdownVisibility(true)" @onfocusout="() => SetDropdownVisibility(false)" />
        <p>@Label</p>
        <i class="fa-regular fa-caret-down"></i>
    </label>
    <div class="dropdown-list" data-toggle="@_expanded.ToString()">
        @if (AddEmpty || !ItemList.Any()) {
            <div class="dropdown-list_item" @onclick="() => SetValue(string.Empty)">None</div>
        }

        @if (ItemList.Any()) {
            @foreach (var item in ItemList) {
                <div class="dropdown-list_item" @onclick="() => SetValue(item)">@item</div>
            }
        }
    </div>
</div>