<div class="floating-input">
    <label>
        <input type="@(_isVisible ? "text" : "password")" value="@Value" @oninput="OnValueChanged" placeholder="@Label" />
        <p>@Label</p>
        <i class="@(_isVisible ? "fa-regular fa-eye-slash" : "fa-regular fa-eye")"
            @onclick="() => _isVisible = !_isVisible">
        </i>
    </label>
</div>