@page "/character/{id:int}"

@if (_isLoading) {
    <LoadingText />
} else {
    <div class="page-header">
        <div class="character-info">
            <div class="character-name">@_character.Name</div>
            <div class="character-class">@_character.Class</div>
        </div>
        <div class="character-buttons">
            <button class="btn accent-btn" @onclick="UpdateAsync">Edit</button>
            <button class="btn cancel-btn" @onclick="DeleteAsync">Delete</button>
        </div>
    </div>

    <hr />

    <div class="profession-header">
        @if (string.IsNullOrWhiteSpace(_character.FirstProfession)) {
            <div class="profession-slot-1">No Primary Profession</div>
        } else {
            <div class="profession-slot-1">@_character.FirstProfession</div>
        }

        @if (_character.HasCooking) {
            <div class="profession-slot-2">Cooking</div>
        } else {
            <div></div>
        }

        @if (string.IsNullOrWhiteSpace(_character.SecondProfession)) {
            <div class="profession-slot-3">No Secondary Profession</div>
        } else {
            <div class="profession-slot-3">@_character.SecondProfession</div>
        }
    </div>

    <hr />

    <div>

        <div>Needed Items <i class="fa-regular fa-plus" @onclick="AddNeededItem"></i></div>

        @if (_neededItems.Count > 0) {
            <div>
                @foreach (var item in _neededItems) {
                    // TODO: Add a X button and highlight red on mouseover to indicate Removal
                    <div @onclick="() => RemoveNeededItem(item.Profession, item.Name)">@item.Amount - @item.Name</div>
                }
            </div>
        }

        <hr />

        <div>Items to Craft</div>

        @if (_itemsToCraft.Count > 0) {
            <div>
                @foreach (var item in _itemsToCraft) {
                    <div>@item.Amount - @item.Name - @item.CharacterName</div>
                }
            </div>
        }

        <hr />

        <div>Materials Required</div>

        <div>
            @*Maybe create a separate page for a shopping list that combines all characters and who needs it*@
            <div>200 - Hide</div>
            <div>50 - Cloth</div>
        </div>

    </div>
}